<div
    class="card"
    [ngStyle]="{'background-color': (selected) ?  'rgb(204, 197, 185)' : 'white' }">

    <div class="header">
        <h2 class="title">{{item.from}} - {{item.to}}</h2>
    </div>
    <div class="content">
            <p>Flight-No.: #{{item.id}}</p>
            <p>Date: {{item.date | date:'dd.MM.yyyy HH:mm'}}</p>

            <p>
                <button
                    class="btn btn-default"
                    *ngIf="!selected"
                    (click)="select()"
                >Select</button>
                <button
                    class="btn btn-default"
                    *ngIf="selected"
                    (click)="deselect()"
                >Remove</button>

                <a [routerLink]="['/flight-booking/flight-edit', item.id, {showDetails: false}]" class="btn btn-default">Edit</a>

            </p>

    </div>
</div>
