<div class="card">

  <div class="header">
      <h2 class="title">Flight Search</h2>
  </div>
  <div class="content">
  
  <form>
  
      <div class="form-group">
          <label>From:</label>
          <input [(ngModel)]="from" name="from" class="form-control">
      </div>
      <div class="form-group">
          <label>To:</label>
          <input [(ngModel)]="to" name="to" class="form-control">
      </div>
  
      <div class="form-group">
          <button 
              (click)="search()"
              class="btn btn-default">Search</button>
  
          </div>
  </form>
  
  </div>
  </div>
  
  <div class="row">
    <div *ngFor="let f of flights">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <flight-card 
                [item]="f" 
                [(selected)]="basket[f.id]"></flight-card>
        </div>
    </div>
    </div>
    <!--

            [selected]="basket[f.id]"
            (selectedChange)="basket[f.id] = $event"        
    -->

  <!--
  <div class="card">
  
      <table class="table table-contensed" *ngIf="flights.length > 0">
          <thead>
          <tr>
              <th>Id</th>
              <th>From</th>
              <th>To</th>
              <th>Date</th>
              <th></th>
          </tr>
          </thead>
          <tr *ngFor="let f of flights" [class.active]="f === selectedFlight">
              <td>{{f.id}}</td>
              <td>{{f.from | city:'short'}}</td>
              <td>{{f.to | city:'long' }}</td>
              <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
              <td>
                  <a (click)="select(f)">Select</a>
              </td>
          </tr>
      </table>
  
  </div>
  -->
  
  <div class="card">
      <div class="content">
          <pre>{{ basket | json }}</pre>
      </div>
  </div>
  