<div class="gray-bg" style="z-index: 99"></div>

<div class="cancelling" style="z-index: 100;">
  <div class="cancelling-inside card" >

    <div class="header">
      <h1 class="title">Cancelling your Flight</h1>
    </div>

    <div class="content">
      <p>
       This is a dummy dialog to cancel your flight # {{id}}. But dummy or not, this will become very expensive.
      </p>
      
       <button (click)="closeHandler()" class="btn btn-default">Close</button>
    </div>

  </div>

</div>
